*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #d7f1b8, #ffffff, #dceec5);
    animation: backgroundShift 12s infinite alternate;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

@keyframes backgroundShift {
    from { background-position: 0% 0%; }
    to { background-position: 100% 100%; }
}

header, footer {
    width: 100%;
    min-height: 60px;
    height: auto;
    padding: 8px 0;
    text-align: center;
    padding: 20px;
    background-color:rgb(0, 96,100);
    color: white;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    min-height: 100dvh;
    flex: 1;
}

.contenedor {
    width: 100%;
    height: 110vh;
    margin: 10px auto;
    display: grid;
    gap: 20px;

}

.contenedor2 {
    width: 100%;
    height: 100vh;
    margin: 10px auto; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

}

.tarjeta {
    background-color: #c5e1a5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
}

.tarjeta:hover {
    transform: scale(1.04);
    border: 2px solid rgb(169, 202, 20);
    background-color: rgb(213, 238, 100);
}

img {
    width:250px;
    height: 200px;
    border-radius: 8px;
    margin: 10px;
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    color: #33691e;
    text-decoration: none;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

ul, p{
    text-align: justify;
    margin: 10px;
    padding: 10px;
    font-size: smaller;
}
footer{
    bottom: 0;
}
footer nav a {
    font-size: 2em; /* make the social media icons larger */
    margin: 0 10px;
    color: white;
    transition: color 0.3s;
}

footer nav a:hover {
    color: #c5e1a5;
}
